<h1>This is the curriculum page</h1>
<b><%= link_to "Create Curriculum", new_curriculum_path %></b>
<br />
<br />
<div class="container">
  <div class="row" >
    <% @curriculums.each do |curriculum| %>
      <%= link_to "#{curriculum.name}", curriculum_path(curriculum), class: "col-sm-4" %>
      <br />
    <% end %>
  </div>
</div>
